<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Halaman Karyawan Gedung</title>
  <link rel="icon" href="/img/logo-icon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/custom-style.css">
  <link rel="stylesheet" href="/css/karyawan-style.css">
  <script src="/script/admin-script.js" defer></script>
</head>

<body>
  <header class="header">
    <div class="navbar-left">
      <a href="/">
        <img src="/img/logo2.png" alt="Logo Perusahaan">
      </a>
    </div>
    <div class="navbar-right">
      <span>
        <%= user ? user.email : '' %>
      </span>
      <%- (!user ? '<a href="/">Login</a>' : '<a href="/logout">Logout</a>' ) %>
    </div>
  </header>
  <div class="container">
    <aside class="sidebar">
      <h2>List Data Pengiriman Paket</h2>
      <div class="package-list">
        <% packages.forEach(pkg=> { %>
          <div class="package-item">
            <a href="/package/<%= pkg.ID_Data_Penerimaan_Paket %>">
              <span class="noresi">No. Resi: <%= pkg.nomor_resi %></span><br>
              <span class="label">Kecamatan :</span> <span class="name">
                <%= pkg.kecamatan %>
              </span> | <span class="label"> Kelurahan :</span> <span class="name">
                <%= pkg.kelurahan %>
              </span> | <span class="label"> Alamat Tujuan : </span> <span class="name">
                <%= pkg.Alamat_Tujuan %>
              </span>
            </a>
          </div>
          <% }) %>
      </div>
      <div class="line-bottom"></div>
      <div class="total-packages">
        Jumlah paket yang masuk: <span>
          <%= packages.length %>
        </span>
      </div>
    </aside>
    <div class="line-center"></div>
    <section class="details">
      <% if (selectedPackage) { %>
        <h2>Data Paket</h2>
        <div class="line-bottom"></div>
        <div class="detail-item">
          <span class="detail">No. Resi</span> :  <span class="value"> 
            <%= selectedPackage.nomor_resi %>
          </span>
        </div>
        <div class="line-bottom"></div>
        <div class="detail-item">
          <span class="detail">Nama Pengirim</span> : <span class="value">
            <%= selectedPackage.Nama_Pengirim %>
          </span>
        </div>
        <div class="detail-item">
          <span class="detail">No. HP Pengirim</span> : <span class="value">
            <%= selectedPackage.No_HP_Pengirim %>
          </span>
        </div>
        <div class="detail-item">
          <span class="detail">Deskripsi</span> : <span class="value">
            <%= selectedPackage.Deskripsi %>
          </span>
        </div>
        <div class="detail-item">
          <span class="detail">Berat (kg)</span> : <span class="value">
            <%= selectedPackage.Berat %>
          </span>
        </div>
        <div class="detail-item">
          <span class="detail">Dimensi (cm)</span> : <span class="value">
            <%= selectedPackage.Dimensi %>
          </span>
        </div>
        <div class="detail-item">
          <span class="detail">Jumlah Kiriman</span> : <span class="value">
            <%= selectedPackage.Jumlah_Kiriman %>
          </span>
        </div>
        
        <div class="line-bottom"></div>
        <div class="detail-item">
          <span class="detail">Nama Penerima</span> : <span class="value">
            <%= selectedPackage.Nama_Penerima %>
          </span>
        </div>
        <div class="detail-item">
          <span class="detail">No. HP Penerima</span> : <span class="value">
            <%= selectedPackage.No_HP_Penerima %>
          </span>
        </div>
        <div class="detail-item">
          <span class="detail">Alamat</span> : <span class="value">
            <%= selectedPackage.Alamat_Tujuan %>
          </span>
        </div>
        <div class="detail-item">
          <span class="detail">Kecamatan</span> : <span class="value">
            <%= selectedPackage.kecamatan %>
          </span>
        </div>
        <div class="detail-item">
          <span class="detail">Kelurahan</span> : <span class="value">
            <%= selectedPackage.kelurahan %>
          </span>
        </div>
        <% } else { %>
          <h2>Silakan pilih paket dari daftar di sebelah kiri</h2>
          <% } %>
    </section>

  </div>
</body>

</html>